<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>
    <link rel="stylesheet" href="/static/dist/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>


<body>
    <div class="max-w-7xl w-full mx-auto">
        <img src={{image_link}} class="mx-auto m-5 ">
        <div class="h-16 w-full bg-blue-200 flex items-center justify-between rounded-[30px]">
            <span class="h-16 w-16 flex items-center justify-center">
                <div class="w-[50px] h-[50px] rounded-[25px] bg-gray-600">
                    <img src="/static/icons/question-mark.svg" class="w-full h-full p-2">
                </div>
            </span>
            <span>
                {{question|safe}}
            </span>
            <a href="/question/{{id+1}}" class="right-0 h-16 w-16 flex items-center justify-center">
                <button class=" w-[50px] h-[50px] rounded-[25px] bg-gray-600">
                    <i class="pl-1 fa fa-chevron-right" style="
                    font-size: 40px;"></i>
                </button>
            </a>
        </div>
        <ul id="answers" class="space-y-2 mt-2">
            {% for answer in answers %}
            <div class=" bg-blue-300 flex items-center rounded-[30px]">
                <span class="h-16 w-16 flex items-center justify-center">
                    <button id={{answer[0]}} onclick=" validate('{{answer[0]}}')" class="w-[50px] h-[50px] rounded-[25px] bg-gray-600">
                        {{answer[0]}}
                    </button>
                </span>
                <span class="answer {{answer[0]}}">{{ answer[1]}}</span>
            </div>
            {% endfor %}
        </ul>
    </div>
</body>

<script>
    let answered = false
    let id = '{{id}}'
    var bcrypt = function(e) {
        var t = String(e).replace(/=+$/, "");
        var n =
            "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
        for (
            var r = 0, i, s, o = 0, u = "";
            (s = t.charAt(o++)); ~s && ((i = r % 4 ? i * 64 + s : s), r++ % 4) ?
            (u += String.fromCharCode(255 & (i >> ((-2 * r) & 6)))) :
            0
        ) {
            s = n.indexOf(s);
        }
        return u;
    };
    var bc = function(e, t) {
        n = bcrypt(e),
            r = n - t;
        return r;
    };
    var lazyLoadImage = function() {
        e = bc('{{enc_string}}', id);
        return String.fromCharCode(e);
    };
    var correct = lazyLoadImage();
    var validate = function(answer) {
        let obj = document.getElementById(answer)
        if (!answered) {
            answered = true
            if (answer == correct) {
                obj.classList.add("bg-green-800");
            } else {
                obj.classList.add("bg-red-800");
                document.getElementById(correct).classList.add("bg-green-800")
            }
        }
    }
</script>

</html>