<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>
    <link rel="stylesheet" href="static/dist/main.css" />
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <main>
        <div class="flex justify-between p-2">
            <h1 class="bg-blue-300 rounded-lg mx-auto inline-block p-2">
                Welcome to My Website
            </h1>
        </div>
    </main>
</body>

</html>