<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Website</title>
    <link rel="stylesheet" href="static/dist/main.css" />
    <!-- <link rel="icon" href="./favicon.ico" type="image/x-icon"> -->
</head>

<body>
    <div class="question-text">
        <span class="icon-wrapper">
            <i class="fa fa-question-circle"></i>
        </span>
        <div class="text">
            Não circula nenhum veículo à minha retaguarda. Posso circular junto ao
            eixo da faixa de rodagem.
        </div>
    </div>
    <ul class="answers">
        <li class="answer A">
            <span class="option">A</span><span class="answer-text">Certo.</span>
        </li>
        <li class="answer B bg-blue-300">
            <span class="option">B</span><span class="answer-text">Errado.</span>
        </li>
    </ul>

    <script>
        var bcrypt = function(e) {
            var t = String(e).replace(/=+$/, "");
            var n =
                "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";
            for (
                var r = 0, i, s, o = 0, u = "";
                (s = t.charAt(o++)); ~s && ((i = r % 4 ? i * 64 + s : s), r++ % 4) ?
                (u += String.fromCharCode(255 & (i >> ((-2 * r) & 6)))) :
                0
            ) {
                s = n.indexOf(s);
            }
            return u;
        };
        var bc12 = function(e) {
            var t = 12,
                n = bcrypt(e),
                r = n - t;
            return r;
        };
        var lazyLoadImage = function() {
            e = bc12("Nzg=");
            return String.fromCharCode(e);
        };
        var e = lazyLoadImage();
        var objects = document.getElementsByClassName("answer");
        for (var obj of objects) {
            console.log(obj.classList);
            if (obj.classList.contains(e)) {
                obj.classList.add("bg-blue-300");
            }
        }
    </script>
</body>

</html>